<p>Hey <%= @user.name.capitalize || @user.email %>,</p>
<p>Check out today's additions to DevsDeck below:</p>
<ul>
  <% @cards.each do |card| %>
    <li><%= link_to card.name, card_url(card) %></li>
  <% end %>
</ul>
<br>
<p>Thanks and have a great day!</p>
<p>DevsDeck team :)</p>
