<div class="ui secondary menu">
  <%= render "shared/header_logo"%>
  <div class="right menu">
    <% if current_user %>
      <%= render "shared/header_create_button" %>
      <%= render "shared/header_user" %>
      <%= render "shared/header_dropdown" %>
    <% end %>
  </div>
</div>
