<div class="card">
  <div class="content">
    <div class="header">Recent Likes</div>
    <div class="description">
      <% @liked.each do |card| %>
        <div class="ui items">
            <div class="item">
                <%= div_for(card, class: "middle aligned content") do %>
                    <%= link_to card.name, card_path(card), class: 'header'%>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
  </div>
  <div class="extra content">
    <span class="right floated">
      Latest like 2014
    </span>
    <span>
      <i class="user icon"></i>
      151 Total Likes
    </span>
  </div>
</div>
