<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="ui link cards">
  <%= render 'user_detail_card.html.erb' %>

  <%= render 'recent_cards' %>

  <%= render 'recent_likes' %>
</div>
