<%= render "layouts/messages" %>
<div class="ui stackable grid">
  <div class="four wide column">
    <div class="ui cards">
      <%= render 'user_detail_card.html.erb' %>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="cards">Latest Cards</a>
      <a class="item" data-tab="likes">Latest Likes</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="cards">
      <%= render 'recent_cards' %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="likes">
      <%= render 'recent_likes' %>
    </div>
  </div>
</div>
<div class="four wide column">
</div>
</div>
