<div class="ui icon input item">
  <%= search_form_for(q,  method: "get") do |f| %>
    <div class="ui icon input">
      <input type="text" name="q[name_or_tags_name_cont]" id="q_name_cont" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  <% end %>
</div>
