development: &dev
  host: 127.0.0.1
  adapter: postgresql
  encoding: unicode
  database: devsdek_dev
  pool: 5
  username: postgres
  password: postgres

test: &test
  host: 127.0.0.1
  adapter: postgresql
  encoding: unicode
  database: devsdek_test
  pool: 5
  username: postgres
  password: postgres

production:
  <<: *dev
