<%if notice.present?%>
  <div class="ui positive message">
  <i class="close icon"></i>
  <div><%= notice %></div>
</div>
<% elsif alert.present? %>
<div class="ui negative message">
  <i class="close icon"></i>
  <div><%= alert %></div>
</div>
<% end %>
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .hide()
    ;
  })
;
</script>
